/* purgecss start ignore */
.intl-tel-input.separate-dial-code .selected-dial-code {
    padding-right: 15px !important;
}

input.separate-dial-code.allow-dropdown.iti-sdc-4 input, .intl-tel-input.separate-dial-code.allow-dropdown.iti-sdc-4 input[type=text] {
    padding-left: 107px !important; 
}

.sp-link-wrapper.sp-brandname__left {
    text-align: center !important;
}
/* purgecss end ignore */